.body {
    background-color: bisque;

}

.title{
    text-align: center;
    color: whitesmoke;
    padding-top: 2px;
    padding-bottom: 4px;
}

.nav{
    width: 100%;
    margin: auto;
    border-radius:0.5em;
    background-color: navy;
    
}
.line{
    background-color: grey;
    height: 2px;
}
