.body {
    background-color: bisque;

}

.title{
    position: relative;
    color: whitesmoke;
}

.nav{
    position: absolute;
    margin-left: auto;
    border-radius:20% 10%;
    background-color: navy;
}