.body {
    background-color: bisque;

}

#nav{
    position: absolute;
    inset: auto;
    border-radius:50%;
    background-color: green;
}

#title{
    position: relative;

    background-color: navy;
    color: whitesmoke;
}

.nav{
    position: absolute;
    inset: auto;
    border-radius:50%;
    background-color: red;
}